{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper users">
        <h1>All users data:</h1>
        <table border="1" cellpadding="5">
            <tfoot></tfoot>
            <thead>
            <th>id</th>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr data-id="{{ user.id }}" style="cursor: pointer;">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).on('click', 'table tr', function(){
            let userId = $(this).data('id');
            $.ajax({
                url:'{{ path('ajax.user_info') }}',
                type: "POST",
                async:      true,
                data: {
                    "userId": userId
                },
                success: function (data)
                {
                    $('.example-wrapper.user').remove();
                    $('.example-wrapper.users').prepend(data);

                }
            });
            return false;

        });
    </script>
{% endblock %}
