{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper user">
        <h3>{{ user.name }} data:</h3>
        <p>
            <span>ID</span> : <span>{{ user.id }}</span>
        </p>
        <p>
            <span>Name</span> : <span>{{ user.name }}</span>
        </p>
        <p>
            <span>Username</span> : <span>{{ user.username }}</span>
        </p>
        <p>
            <span>E-mail</span> : <span>{{ user.email }}</span>
        </p>
        <p>
            <span>Company</span> : <br><br>
            <span>Name</span> : <span>{{ user.company.name }}</span><br>
            <span>CatchPhrase</span> : <span>{{ user.company.catchPhrase }}</span><br>
            <span>Bs</span> : <span>{{ user.company.bs }}</span><br>
        </p>

        <p>
            <span>Address</span> : <br><br>
            <span>Street</span> : <span>{{ user.address.street }}</span><br>
            <span>Suit</span> : <span>{{ user.address.suite }}</span><br>
            <span>City</span> : <span>{{ user.address.city }}</span><br>
            <span>Zip-code</span> : <span>{{ user.address.zipcode }}</span><br>
        </p>

        <p>
            <span>Geolocation</span> : <br><br>
            <span>Lat</span> : <span>{{ user.address.geolocation.lat }}</span><br>
            <span>Lng</span> : <span>{{ user.address.geolocation.lng }}</span><br>
        </p>
    </div>

{% endblock %}
